.Nav-bar {
  border: 1px solid red;
  border-bottom: 1px solid #e8e8e8;
}

.Navigation {
  display: flex;
  margin-left: 10%;
}

.Navigation ul {
  display: flex;
  list-style: none;
  margin-left: 5%;
  padding: 0;
  width: 15%;
  justify-content: space-between;
  line-height: 40px;
}

.Navigation a {
  text-decoration: none;
  color: #000;
}

.Logo {
  color: #0290ff;
}

.BookPage {
  margin-top: 50px;
  margin-left: 5%;
  margin-bottom: 50px;
}

.Book-item {
  display: flex;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  margin-bottom: 20px;
}

.Category {
  font-weight: bold;
  color: #121212;
  font-size: 0.875rem;
  opacity: 0.5;
  margin: 0;
}

.Title {
  font-size: 1.375rem;
  color: #121212;
  letter-spacing: 0.2px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.Author {
  color: #4386bf;
  font-weight: 300;
  font-size: 0.975rem;
  margin: 0;
}

.Actions {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  width: 18%;
  color: #4386bf;
  font-weight: 300;
  font-size: 0.975rem;
}

.Remove {
  border: 0;
  background-color: inherit;
  color: #4386bf;
  font-weight: 300;
  font-size: 0.975rem;
  font-family: inherit;
  cursor: pointer;
}

.First-part {
  width: 50%;
}

.Second-part {
  width: 20%;
  display: flex;
}

.Oval {
  margin-top: 15px;
  border: 5px solid #0290ff;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.Rate {
  color: #121212;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

.Status {
  font-family: inherit;
  margin-top: 10px;
  color: #121212;
  opacity: 0.5;
  font-size: 0.875rem;
}

.Current {
  opacity: 0.5;
  font-size: 0.813rem;
}

.Chap {
  font-size: 1rem;
  font-weight: 300;
}

.Chap-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-weight: 300;
  width: 11.5rem;
  letter-spacing: 0.5px;
  height: 2.063rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background: #0290ff;
  border: 0;
}

.Form-section {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.Form-title {
  color: #888;
}

.Form-fields {
  display: flex;
}

.Tilte-input {
  width: 50%;
  padding-left: 2%;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  height: 2.813rem;
  margin-right: 2%;
}

.Author-input {
  width: 30%;
  padding-left: 2%;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  height: 2.813rem;
}

.Add-btn {
  background: #0290ff;
  height: 2.813rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border: 0;
  border-radius: 3px;
  width: 200%;
  margin-left: 80%;
  color: #fff;
  cursor: pointer;
}
