.Navigation {
  display: flex;
  margin-left: 10%;
}

.Navigation ul {
  display: flex;
  list-style: none;
  margin-left: 5%;
  padding: 0;
  width: 15%;
  justify-content: space-between;
  line-height: 40px;
}

.Navigation a {
  text-decoration: none;
  color: #000;
}

.Logo {
  color: #0290ff;
}

.BookPage {
  margin-left: 5%;
  margin-bottom: 50px;
}
